* {
  box-sizing: border-box; }

body {
  background-image: linear-gradient(160deg, #ffffff 20%, #000204 111%);
  color: #272727;
  font-family: "Lato", sans-serif;
  height: auto;
  width: 100%;
  max-width: 1500px; }

header {
  background: #272727;
  box-shadow: -1px 8px 20px 0px #677077;
  display: flex;
  height: 20vh;
  position: sticky;
  transition: 0.4s ease-out;
  top: 0;
  width: 100%;
  z-index: 2; }

.logo {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 36px;
  font-family: "Bangers", cursive;
  justify-content: flex-start;
  width: 40%; }
  .logo h1 {
    color: #fff;
    margin-left: 40px;
    letter-spacing: 3px; }
    .logo h1 span {
      color: #677077; }

.nav {
  align-items: center;
  display: flex;
  font-size: 16px;
  justify-content: flex-end;
  width: 60%; }
  .nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0; }
    .nav ul li {
      border: 1px solid white;
      margin: 10px 40px;
      padding: 10px 10px; }
      .nav ul li a {
        cursor: pointer;
        text-decoration: none; }
        .nav ul li a:link {
          color: #fff; }
        .nav ul li a:visited {
          color: #fff; }
        .nav ul li a:hover {
          color: #e85151; }

.hero {
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 100%; }

.hero-left {
  background-color: #fff;
  background-image: url("../img/programmer.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 50%; }

.hero-right {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000000;
  display: flex;
  justify-content: center;
  width: 50%; }
  .hero-right .box {
    height: 60vh;
    text-align: center;
    width: 40vw; }
    .hero-right .box h2 {
      margin: 10px;
      padding: 10px; }
    .hero-right .box p {
      font-size: 40px;
      margin: 10px;
      padding: 10px;
      text-align: center; }

.describe {
  background-color: #424f87;
  box-shadow: 3px 5px 20px 0px #000;
  color: #fff;
  font-size: 90px;
  margin: 100px auto;
  padding: 120px 20px;
  text-align: left;
  width: 80%; }
  .describe h2 {
    text-shadow: 3px 3px 9px #000; }

.about {
  margin: 40px 0;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap; }
  .about .icon-1 {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 30%;
    height: 50vh; }
  .about .icon-2 {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 30%;
    height: 50vh; }
  .about .icon-3 {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 30%;
    height: 50vh; }

.fab {
  color: #000;
  cursor: pointer;
  font-size: 200px;
  transition: .6s; }

.far {
  color: #000;
  cursor: pointer;
  font-size: 200px;
  transition: .6s; }

.fa-linkedin:hover {
  color: #0077B5;
  transition: .6s;
  transform: scale(1.05); }

.fa-github-square:hover {
  color: #8d0083;
  transition: .6s;
  transform: scale(1.05); }

.fa-envelope:hover {
  color: #cd201f;
  transition: .6s;
  transform: scale(1.05); }

.explain {
  background-image: linear-gradient(160deg, #8d0083 0%, #02233e 127%);
  color: #fff;
  font-size: 100px;
  margin: 0 auto;
  padding: 120px 0;
  width: 80%; }

.explain-right {
  background-image: linear-gradient(160deg, #424242 0%, #000204 60%);
  text-align: right;
  margin-bottom: 200px;
  padding: 40px 40px;
  position: relative;
  right: -26%;
  width: 80%; }
  .explain-right h2 {
    text-shadow: -4px 2px #7f8b94; }

.explain-left {
  background-image: linear-gradient(160deg, #800838 0%, #5982a5 127%);
  padding: 40px 10px;
  position: relative;
  left: -6%;
  width: 80%; }
  .explain-left span {
    color: #43D4CF; }

.works {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%; }
  .works .row-1 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 50vh;
    width: 100%; }
    .works .row-1 .work-1 {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-grow: 1;
      font-size: 36px;
      height: 50vh;
      transition: .6s;
      background-color: #ffd600; }
      .works .row-1 .work-1:hover {
        align-items: center;
        display: flex;
        justify-content: center;
        box-shadow: -1px 8px 20px 0px #000000;
        transition: .6s;
        transform: scale(1.1);
        font-size: 36px; }
    .works .row-1 .work-2 {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-grow: 1;
      font-size: 36px;
      height: 50vh;
      transition: .6s;
      background-color: #e85151; }
      .works .row-1 .work-2:hover {
        align-items: center;
        display: flex;
        justify-content: center;
        box-shadow: -1px 8px 20px 0px #000000;
        transition: .6s;
        transform: scale(1.1);
        font-size: 36px; }
    .works .row-1 .work-3 {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-grow: 1;
      font-size: 36px;
      height: 50vh;
      transition: .6s;
      background-color: #424f87; }
      .works .row-1 .work-3:hover {
        align-items: center;
        display: flex;
        justify-content: center;
        box-shadow: -1px 8px 20px 0px #000000;
        transition: .6s;
        transform: scale(1.1);
        font-size: 36px; }
    .works .row-1 .work-4 {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-grow: 1;
      font-size: 36px;
      height: 50vh;
      transition: .6s;
      background-color: #8d0083; }
      .works .row-1 .work-4:hover {
        align-items: center;
        display: flex;
        justify-content: center;
        box-shadow: -1px 8px 20px 0px #000000;
        transition: .6s;
        transform: scale(1.1);
        font-size: 36px; }

.row-2 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 50vh;
  width: 100%; }
  .row-2 .work-5 {
    background-color: #0AA4CA;
    flex-grow: 2;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px; }
  .row-2 .work-6 {
    background-color: #0077B5;
    flex-grow: 1;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px; }

.contact {
  background-image: linear-gradient(160deg, #272727 50%, #8e8e8e 65%);
  background-color: #fff;
  display: flex;
  align-items: center;
  height: 40vh;
  justify-content: center;
  margin: 20px auto;
  position: relative;
  top: -54px;
  width: 92%; }

.cv-button {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #ffd600;
  border-radius: 50px;
  color: #000000;
  height: 60px;
  width: 200px; }
  .cv-button:hover {
    transform: scale(1.1);
    transition: .6s; }

footer {
  background-color: #272727;
  color: white;
  width: 100%; }
  footer .center-footer {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center; }

.social-icons {
  margin: 40px 0;
  display: flex;
  justify-content: space-between; }
  .social-icons .twitter {
    align-items: center;
    background-color: #ffd600;
    border-radius: 50%;
    display: flex;
    height: 80px;
    justify-content: center;
    margin: 0 30px;
    width: 80px; }
    .social-icons .twitter:hover {
      background-color: #c9a806;
      transform: scale(1.1) rotateY(-360deg);
      transition: .6s; }
    .social-icons .twitter .fab {
      font-size: 3.5rem;
      color: #272727; }
  .social-icons .facebook {
    align-items: center;
    background-color: #ffd600;
    border-radius: 50%;
    display: flex;
    height: 80px;
    justify-content: center;
    margin: 0 30px;
    width: 80px; }
    .social-icons .facebook:hover {
      background-color: #c9a806;
      transform: scale(1.1) rotateY(-360deg);
      transition: .6s; }
    .social-icons .facebook .fab {
      font-size: 3.5rem;
      color: #272727; }

.content-text {
  height: 10vh; }

/*# sourceMappingURL=style.css.map */