* {
  box-sizing: border-box; }

body {
  background-color: #272727;
  color: #fff;
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  max-width: 100%; }

header {
  display: flex;
  height: 20vh;
  position: sticky;
  transition: 0.4s ease-out;
  top: 0;
  width: 100%;
  z-index: 2; }

.logo {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 36px;
  font-family: "Bangers", cursive;
  justify-content: flex-start;
  width: 40%; }
  .logo h1 {
    color: #fff;
    margin-left: 40px;
    letter-spacing: 3px; }
    .logo h1 span {
      color: #677077; }

.nav {
  align-items: center;
  display: flex;
  font-size: 16px;
  justify-content: flex-end;
  width: 60%; }
  .nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0; }
    .nav ul li {
      border: 1px solid white;
      margin: 10px 40px;
      padding: 10px 10px; }
      .nav ul li a {
        cursor: pointer;
        text-decoration: none; }
        .nav ul li a:link {
          color: #fff; }
        .nav ul li a:visited {
          color: #fff; }
        .nav ul li a:hover {
          color: #e85151; }

.hero {
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 100%; }
  .hero .hero-left {
    background-color: #fff;
    background-image: url("../img/computer.gif");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #ffd600;
    overflow: hidden;
    height: 80vh;
    width: 50%; }

.hero-right {
  align-items: center;
  background-color: #fff;
  color: #272727;
  display: flex;
  justify-content: center;
  width: 50%; }
  .hero-right .box {
    height: 60vh;
    text-align: center;
    width: 40vw; }
    .hero-right .box h2 {
      margin: 10px;
      padding: 10px; }
    .hero-right .box p {
      font-size: 40px;
      margin: 10px;
      padding: 10px;
      text-align: center; }

.describe {
  background-color: #0AA4CA;
  box-shadow: 20px 20px 0 0px;
  color: #fff;
  font-size: 90px;
  margin: 100px auto;
  padding: 120px 20px;
  text-align: left;
  width: 80%; }

.about {
  margin: 40px 0;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap; }
  .about .icon-1 {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 30%;
    height: 50vh;
    border: 1px solid white;
    border: 1px solid white; }
  .about .icon-2 {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 30%;
    height: 50vh;
    border: 1px solid white;
    border: 1px solid white; }
  .about .icon-3 {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 30%;
    height: 50vh;
    border: 1px solid white;
    border: 1px solid white; }

.fab {
  color: #b5b5b7;
  cursor: pointer;
  font-size: 200px; }

.fa-linkedin:hover {
  color: #0077B5;
  transition: 0.6s; }

.fa-github-square:hover {
  color: #8d0083;
  transition: 0.6s; }

.far {
  color: #b5b5b7;
  cursor: pointer;
  font-size: 200px; }
  .far:hover {
    color: #cd201f;
    transition: 0.6s; }

.explain {
  background-color: #272727;
  color: #fff;
  font-size: 100px;
  margin: 0 auto;
  padding: 120px 0;
  width: 80%; }

.explain-right {
  text-align: right;
  margin-bottom: 200px; }

.explain-left {
  background-color: #7B6A64;
  box-shadow: 20px 20px 0px 4px;
  padding: 40px 10px;
  width: 80%; }
  .explain-left span {
    color: #43D4CF; }

.works {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%; }
  .works .row-1 {
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 50vh;
    width: 100%; }
    .works .row-1 .work-1 {
      border: 1px solid white;
      flex-grow: 1;
      height: 50vh; }
    .works .row-1 .work-2 {
      border: 1px solid white;
      flex-grow: 1;
      height: 50vh; }
    .works .row-1 .work-3 {
      border: 1px solid white;
      flex-grow: 1;
      height: 50vh; }
    .works .row-1 .work-4 {
      border: 1px solid white;
      flex-grow: 1;
      height: 50vh; }

.row-2 {
  border: 1px solid white;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 50vh;
  width: 100%; }
  .row-2 .work-5 {
    border: 1px solid white;
    flex-grow: 2;
    height: 50vh; }
  .row-2 .work-6 {
    border: 1px solid white;
    flex-grow: 1;
    height: 50vh; }

.contact {
  background-color: #fff;
  height: 40vh;
  width: 100%; }

footer {
  background-color: #272727;
  width: 100%; }
  footer .center-footer {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }

.social-icons {
  margin: 40px 0;
  display: flex;
  justify-content: space-between; }
  .social-icons .twitter {
    align-items: center;
    background-color: #ffd600;
    border-radius: 50%;
    display: flex;
    height: 80px;
    justify-content: center;
    margin: 0 30px;
    width: 80px; }
    .social-icons .twitter:hover {
      background-color: #c9a806; }
    .social-icons .twitter .fab {
      font-size: 50px;
      color: #272727; }
  .social-icons .facebook {
    align-items: center;
    background-color: #ffd600;
    border-radius: 50%;
    display: flex;
    height: 80px;
    justify-content: center;
    margin: 0 30px;
    width: 80px; }
    .social-icons .facebook:hover {
      background-color: #c9a806; }
    .social-icons .facebook .fab {
      font-size: 50px;
      color: #272727; }

/*# sourceMappingURL=style.css.map */