* {
  box-sizing: border-box; }

body {
  background-image: linear-gradient(160deg, #ffffff 0%, #000204 113%);
  color: #272727;
  font-family: "Lato", sans-serif;
  height: auto;
  width: 100%;
  max-width: 1500px; }

header {
  background: #272727;
  box-shadow: -1px 8px 20px 0px #677077;
  display: -ms-flexbox;
  display: flex;
  height: 20vh;
  position: -webkit-sticky;
  position: sticky;
  transition: 0.4s ease-out;
  top: 0;
  width: 100%;
  z-index: 2; }

.logo {
  -ms-flex-align: center;
      align-items: center;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  font-size: 36px;
  font-family: "Bangers", cursive;
  -ms-flex-pack: start;
      justify-content: flex-start;
  width: 40%; }
  .logo h1 {
    color: #fff;
    margin-left: 40px;
    letter-spacing: 3px; }
    .logo h1 span {
      color: #677077; }

.nav {
  -ms-flex-align: center;
      align-items: center;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  -ms-flex-pack: end;
      justify-content: flex-end;
  width: 60%; }
  .nav ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: end;
        justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0; }
    .nav ul li {
      border: 1px solid white;
      margin: 10px 40px;
      padding: 10px 10px; }
      .nav ul li a {
        cursor: pointer;
        text-decoration: none; }
        .nav ul li a:link {
          color: #fff; }
        .nav ul li a:visited {
          color: #fff; }
        .nav ul li a:hover {
          color: #e85151; }

.hero {
  background-color: #fff;
  background-image: url("../img/computer.gif");
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  height: 80vh;
  width: 100%; }
  .hero .hero-left {
    height: 80vh;
    width: 50%; }

.hero-right {
  -ms-flex-align: center;
      align-items: center;
  background-color: rgba(220, 220, 221, 0.91);
  color: #000000;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 50%; }
  .hero-right .box {
    height: 60vh;
    text-align: center;
    width: 40vw; }
    .hero-right .box h2 {
      margin: 10px;
      padding: 10px; }
    .hero-right .box p {
      font-size: 40px;
      margin: 10px;
      padding: 10px;
      text-align: center; }

.describe {
  background-color: #0AA4CA;
  box-shadow: 3px 5px 20px 0px #000;
  color: #fff;
  font-size: 90px;
  margin: 100px auto;
  padding: 120px 20px;
  text-align: left;
  width: 80%; }
  .describe h2 {
    text-shadow: 3px 3px 9px #000; }

.about {
  margin: 40px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .about .icon-1 {
    -ms-flex-align: center;
        align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    width: 30%;
    height: 50vh; }
  .about .icon-2 {
    -ms-flex-align: center;
        align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    width: 30%;
    height: 50vh; }
  .about .icon-3 {
    -ms-flex-align: center;
        align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    width: 30%;
    height: 50vh; }

.fab {
  color: #000;
  cursor: pointer;
  font-size: 200px; }

.fa-linkedin:hover {
  color: #0077B5;
  transition: 0.6s;
  transform: scale(1.1); }

.fa-github-square:hover {
  color: #8d0083;
  transition: 0.6s;
  transform: scale(1.1); }

.far {
  color: #000;
  cursor: pointer;
  font-size: 200px; }
  .far:hover {
    color: #cd201f;
    transition: 0.6s;
    transform: scale(1.1); }

.explain {
  background-image: linear-gradient(160deg, #8d0083 0%, #02233e 127%);
  color: #fff;
  font-size: 100px;
  margin: 0 auto;
  padding: 120px 0;
  width: 80%; }

.explain-right {
  background-image: linear-gradient(160deg, #42424282 0%, #000204 60%);
  text-align: right;
  margin-bottom: 200px;
  padding: 40px 40px;
  position: relative;
  right: -26%;
  width: 80%; }
  .explain-right h2 {
    text-shadow: -4px 2px #7f8b94; }

.explain-left {
  background-image: linear-gradient(160deg, #8d0083 0%, #5982a5 127%);
  padding: 40px 10px;
  position: relative;
  left: -6%;
  width: 80%; }
  .explain-left span {
    color: #43D4CF; }

.works {
  border: 1px solid black;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100vh;
  width: 100%; }
  .works .row-1 {
    border: 1px solid black;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-direction: row;
        flex-direction: row;
    height: 50vh;
    width: 100%; }
    .works .row-1 .work-1 {
      border: 1px solid black;
      -ms-flex-positive: 1;
          flex-grow: 1;
      height: 50vh; }
    .works .row-1 .work-2 {
      border: 1px solid black;
      -ms-flex-positive: 1;
          flex-grow: 1;
      height: 50vh; }
    .works .row-1 .work-3 {
      border: 1px solid black;
      -ms-flex-positive: 1;
          flex-grow: 1;
      height: 50vh; }
    .works .row-1 .work-4 {
      border: 1px solid black;
      -ms-flex-positive: 1;
          flex-grow: 1;
      height: 50vh; }

.row-2 {
  border: 1px solid black;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-direction: row;
      flex-direction: row;
  height: 50vh;
  width: 100%; }
  .row-2 .work-5 {
    border: 1px solid white;
    -ms-flex-positive: 2;
        flex-grow: 2;
    height: 50vh; }
  .row-2 .work-6 {
    border: 1px solid white;
    -ms-flex-positive: 1;
        flex-grow: 1;
    height: 50vh; }

.contact {
  background-color: #fff;
  height: 40vh;
  margin: 20px auto;
  width: 86%; }

footer {
  background-color: #272727;
  color: white;
  width: 100%; }
  footer .center-footer {
    height: 30vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }

.social-icons {
  margin: 40px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .social-icons .twitter {
    -ms-flex-align: center;
        align-items: center;
    background-color: #ffd600;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -ms-flex-pack: center;
        justify-content: center;
    margin: 0 30px;
    width: 80px; }
    .social-icons .twitter:hover {
      background-color: #c9a806;
      transform: scale(1.1) rotateY(-360deg);
      transition: .6s; }
    .social-icons .twitter .fab {
      font-size: 50px;
      color: #272727; }
  .social-icons .facebook {
    -ms-flex-align: center;
        align-items: center;
    background-color: #ffd600;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -ms-flex-pack: center;
        justify-content: center;
    margin: 0 30px;
    width: 80px; }
    .social-icons .facebook:hover {
      background-color: #c9a806;
      transform: scale(1.1) rotateY(-360deg);
      transition: .6s; }
    .social-icons .facebook .fab {
      font-size: 50px;
      color: #272727; }