$white-font-color: #fff
$red-font-color: #e85151
$background-color: #22272a

*
  box-sizing: border-box

body
  margin: 0 auto
  background-color: #22272a
  color: $white-font-color
  font-family: "Lato", sans-serif
  max-width: 100%

header
  position: sticky
  z-index: 999
  top: 0
  display: flex
  width: 100%
  height: 20vh

.color
  transition: background .3s ease

  // border: 1px solid white

.logo
  // border: 1px solid white
  width: 40%
  display: flex
  justify-content: flex-start
  align-items: center

  h1
    margin-left: 40px

    span
      color: $red-font-color

.nav
  display: flex
  justify-content: flex-end
  align-items: center
  width: 60%

  // border: 1px solid white
  font-size: 16px

  ul
    display: flex
    flex-wrap: wrap
    padding: 0
    margin: 0
    list-style: none
    justify-content: flex-end

    li
      border: 1px solid white
      margin: 10px 40px
      padding: 10px 10px

      a
        text-decoration: none

        &:link
          color: $white-font-color

        &:visited
          color: $white-font-color

        &:hover
          color: $red-font-color

// SECTION HERO

.hero
  width: 100%
  height: 80vh
  display: flex
  flex-direction: row

  .hero-left
    background-image: url("../img/hero-background.jpg")
    background-repeat: no-repeat
    background-size: cover
    overflow: hidden
    height: 80vh
    width: 50%

.hero-right
  // background-image: url("../img/hero-2-background.jpg")
  // background-repeat: no-repeat
  // background-size: cover
  // height: 80vh
  width: 50%
  display: flex
  align-items: center
  justify-content: center

  .box
    border: 1px solid white
    text-align: center
    width: 40vw
    height: 60vh

    h2
      margin: 10px
      padding: 10px

    p
      text-align: justify
      margin: 10px
      padding: 10px

    button
      background-color: transparent
      border: 2px solid $white-font-color
      color: $white-font-color
      height: 40px
      margin-top: 40px
      width: 200px
      outline: none

      &:hover
        color: $background-color
        background-color: $white-font-color
        transition: 0.3s

// SECTION DESCRIBE
.describe
  border: 1px solid white
  height: 50vh
  width: 100%


// SECTION ABOUT
=photo-body
  height: 50vh
  flex-grow: 2
  border: 1px solid white

=work-body
  flex-grow: 1
  height: 50vh
  border: 1px solid white

=row-body
  display: flex
  flex-direction: row
  height: 50vh
  width: 100%
  border: 1px solid white

=column-body
  display: flex
  flex-direction: column
  height: 100vh
  width: 100%
  border: 1px solid white


.about
  flex-wrap: wrap
  +row-body

  .photo-1
    +photo-body

  .photo-2
    +photo-body

  .photo-3
    +photo-body

.works
  +column-body
  .row-1
    +row-body

    .work-1
      +work-body

    .work-2
      +work-body

    .work-3
      +work-body

    .work-4
      +work-body

.row-2
  +row-body

  .work-5
    flex-grow: 2
    height: 50vh
    border: 1px solid white

  .work-6
    flex-grow: 1
    height: 50vh
    border: 1px solid white
