$white-font-color: #fff
$red-font-color: #e85151
$background-color: #252839
$gray-color: #677077
$light-gray-color: #b5b5b7
$yellow-color: #ffd600
$dark-gray-color: #272727
$light-blue-color: #0AA4CA
$linkedIN-color: #0077B5
$gitHub-color: #8d0083
$mail-color: #cd201f
$black-color: #000000
$dark-blue: #424f87

*
  box-sizing: border-box

body
  background-image: linear-gradient(160deg, #ffffff 20%, #000204 111%)
  color: $dark-gray-color
  font-family: "Lato", sans-serif
  height: auto
  width: 100%
  // max-width: 1500px

header
  background: $dark-gray-color
  box-shadow: (-1px) 8px 20px 0px #677077
  display: flex
  position: sticky
  transition: 0.4s ease-out
  top: 0
  width: 100%
  z-index: 2

.logo
  align-items: center
  cursor: pointer
  display: flex
  font-size: 36px
  font-family: "Bangers", cursive
  justify-content: flex-start
  width: 400px

  h1
    color: $white-font-color
    margin-left: 40px
    letter-spacing: 3px

    span
      color: $gray-color

.nav
  min-height: 80px
  align-items: center
  display: flex
  font-size: 16px
  justify-content: flex-end
  width: 70%

  ul
    display: flex
    flex-wrap: wrap
    justify-content: flex-end
    list-style: none
    padding: 0
    margin: 0

    li
      border: 1px solid white
      margin: 10px 40px
      padding: 10px 10px

      a
        cursor: pointer
        text-decoration: none

        &:link
          color: $white-font-color

        &:visited
          color: $white-font-color

        &:hover
          color: $red-font-color

// SECTION HERO

.hero
  align-items: center
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  width: 100%

.hero-left
  margin: 14px 0
  border: 1px solid black
  background-color: $white-font-color
  background-image: url("../img/programmer.gif")
  background-repeat: no-repeat
  background-size: cover
  height: 500px
  width: 600px

.hero-right
  margin: 14px 0
  border: 1px solid black
  align-items: center
  background-color: rgba(255, 255, 255, 0.9)
  color: $black-color
  display: flex
  justify-content: center
  height: 500px
  width: 600px

  .box
    border: 1px solid black
    height: 160px
    text-align: center
    width: 140px
    h2
      margin: 10px
      padding: 10px
    p
      font-size: 40px
      margin: 10px
      padding: 10px
      text-align: center

// SECTION DESCRIBE
.describe
  background-color: $dark-blue
  box-shadow: 3px 5px 20px 0px #000
  color: $white-font-color
  font-size: 70px
  margin: 100px auto
  padding: 120px 20px
  text-align: left
  width: 80%

  h2
    text-shadow: 3px 3px 9px #000

// SECTION ABOUT

=flex-center
  flex-wrap: wrap
  align-items: center
  display: flex
  justify-content: center

=icon-body
  +flex-center
  margin: 20px
  width: 40px
  height: 40px


=work-body
  width: 360px
  min-height: 360px
  transition: 0.6s

=work-hover
  +flex-center
  box-shadow: (-1px) 8px 20px 0px $black-color
  transition: 0.6s
  transform: scale(1.01)
  font-size: 36px

=row-body
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly
  width: 100%

=column-body
  display: flex
  flex-wrap: wrap
  width: 100%

=icon-style
  color: #000
  cursor: pointer
  font-size: 200px
  transition: 0.6s

.about
  background-color: $white-font-color
  box-shadow: 3px 5px 20px 0px #000
  margin: 60px auto
  justify-content: space-around
  display: flex
  flex-wrap: wrap
  width: 96%

  .icon-1
    +icon-body

  .icon-2
    +icon-body

  .icon-3
    +icon-body

.fab
  +icon-style
  margin: 20px
  transition: 0.6s

.far
  +icon-style
  margin: 20px
  transition: 0.6s

.fa-linkedin
  &:hover
    color: $linkedIN-color
    transition: 0.6s
    transform: scale(1.05)

.fa-github-square
  &:hover
    color: $gitHub-color
    transition: 0.6s
    transform: scale(1.05)

.fa-envelope
  &:hover
    color: $mail-color
    transition: 0.6s
    transform: scale(1.05)

//SECTION EXPLAIN

.explain
  background-image: linear-gradient(160deg, #fdfdfd 0%, #000000 150%)
  box-shadow: 3px 5px 20px 0px #000
  color: $white-font-color
  font-size: 80px
  margin: 100px auto
  padding: 120px 0
  width: 80%

.explain-right
  background-image: linear-gradient(160deg, #151414 0%, #5982a5 127%)
  box-shadow: 3px 5px 20px 0px #000
  text-align: right
  margin-bottom: 100px
  padding: 40px 40px
  position: relative
  right: -26%
  width: 80%

  h2
    text-shadow: 8px 0px 9px #000

.explain-center
  padding: 40px 0
  position: relative
  background-color: $white-font-color
  box-shadow: 0px 10px 20px 0px #000
  margin: 60px auto
  justify-content: space-around
  display: flex
  flex-wrap: wrap
  width: 114%
  left: -8%


.explain-left
  margin-top: 100px
  background-image: linear-gradient(160deg, #151414 0%, #5982a5 127%)
  box-shadow: 3px 5px 20px 0px #000
  padding: 40px 10px
  position: relative
  left: -6%
  width: 80%

  h3
    text-shadow: 3px 3px 9px #000

  span
    color: #43D4CF

.works
  +column-body

  .row-1
    +row-body

    .work-1
      +work-body

      background-color: $yellow-color

      &:hover
        +work-hover

    .work-2
      +work-body

      background-color: $red-font-color

      &:hover
        +work-hover

    .work-3
      +work-body

      background-color: $dark-blue

      &:hover
        +work-hover

    .work-4
      +work-body

      background-color: $gitHub-color

      &:hover
        +work-hover

.row-2
  +row-body

  .work-5
    background-color: $light-blue-color
    flex-grow: 2
    height: 50vh
    display: flex
    align-items: center
    justify-content: center
    font-size: 36px

  .work-6
    background-color: $linkedIN-color
    flex-grow: 1
    height: 50vh
    display: flex
    align-items: center
    justify-content: center
    font-size: 36px

//CONTACT SECTION
=flex-center
  align-items: center
  display: flex
  justify-content: center

=social-hover
  background-color: #c9a806
  transform: scale(1.1) rotateY(-360deg)
  transition: 0.6s

.contact
  +flex-center
  background-image: linear-gradient(160deg, #272727 50%, #8e8e8e 65%)
  box-shadow: 3px 5px 20px 0px #000
  height: 40vh
  margin: 20px auto
  position: relative
  top: -54px
  width: 92%

.cv-button
  +flex-center

  box-shadow: 3px 5px 20px 0px #000
  background-color: $yellow-color
  border-radius: 50px
  color: $black-color
  height: 60px
  transition: .6s
  width: 200px

  &:hover
    transform: scale(1.1)
    transition: 0.6s

//FOOTER SECTION
=social-body
  align-items: center
  background-color: $yellow-color
  border-radius: 50%
  display: flex
  height: 80px
  justify-content: center
  margin: 0 30px
  width: 80px

=social-hover
  background-color: #c9a806
  transform: scale(1.1) rotateY(-360deg)
  transition: 0.6s

=fab-body
  font-size: 3.5rem
  color: $dark-gray-color

footer
  background-color: #272727
  color: white
  width: 100%

  .center-footer
    +flex-center

    height: 40vh
    flex-direction: column


.social-icons
  margin: 40px 0
  display: flex
  justify-content: space-between

  .twitter
    +social-body

    &:hover
      +social-hover

    .fab
      +fab-body

  .facebook
    +social-body

    &:hover
      +social-hover

    .fab
      +fab-body

.content-text
  height: 20%
